@font-face{font-family:'Coustard';font-style:normal;font-weight:400;src:url(font/400.ttf) format('ttf');}
@font-face{font-family:'Coustard';font-style:normal;font-weight:900;src:url(font/900.ttf) format('ttf');}
