@font-face{font-family:'Vesper Libre';font-style:normal;font-weight:400;src:url(font/400.ttf) format('ttf');}
@font-face{font-family:'Vesper Libre';font-style:normal;font-weight:500;src:url(font/500.ttf) format('ttf');}
@font-face{font-family:'Vesper Libre';font-style:normal;font-weight:700;src:url(font/700.ttf) format('ttf');}
@font-face{font-family:'Vesper Libre';font-style:normal;font-weight:900;src:url(font/900.ttf) format('ttf');}
