@font-face{font-family:'Play';font-style:normal;font-weight:400;src:url(font/400.ttf) format('ttf');}
@font-face{font-family:'Play';font-style:normal;font-weight:700;src:url(font/700.ttf) format('ttf');}
