@font-face{font-family:'Fanwood Text';font-style:normal;font-weight:400;src:url(font/400.woff2) format('woff2'),url(font/400.woff) format('woff');}
@font-face{font-family:'Fanwood Text';font-style:italic;font-weight:400;src:url(font/400i.woff2) format('woff2'),url(font/400i.woff) format('woff');}
