@font-face{font-family:'Sniglet';font-style:normal;font-weight:400;src:url(font/400.ttf) format('ttf');}
@font-face{font-family:'Sniglet';font-style:normal;font-weight:800;src:url(font/800.ttf) format('ttf');}
