@font-face{font-family:'Vesper Libre';font-style:normal;font-weight:400;src:url(font/400.woff2) format('woff2'),url(font/400.woff) format('woff');}
@font-face{font-family:'Vesper Libre';font-style:normal;font-weight:500;src:url(font/500.woff2) format('woff2'),url(font/500.woff) format('woff');}
@font-face{font-family:'Vesper Libre';font-style:normal;font-weight:700;src:url(font/700.woff2) format('woff2'),url(font/700.woff) format('woff');}
@font-face{font-family:'Vesper Libre';font-style:normal;font-weight:900;src:url(font/900.woff2) format('woff2'),url(font/900.woff) format('woff');}
