@font-face{font-family:'Khand';font-style:normal;font-weight:300;src:url(font/300.ttf) format('ttf');}
@font-face{font-family:'Khand';font-style:normal;font-weight:400;src:url(font/400.ttf) format('ttf');}
@font-face{font-family:'Khand';font-style:normal;font-weight:500;src:url(font/500.ttf) format('ttf');}
@font-face{font-family:'Khand';font-style:normal;font-weight:600;src:url(font/600.ttf) format('ttf');}
@font-face{font-family:'Khand';font-style:normal;font-weight:700;src:url(font/700.ttf) format('ttf');}
