@font-face{font-family:'Elsie';font-style:normal;font-weight:400;src:url(font/400.woff2) format('woff2'),url(font/400.woff) format('woff');}
@font-face{font-family:'Elsie';font-style:normal;font-weight:900;src:url(font/900.woff2) format('woff2'),url(font/900.woff) format('woff');}
